@import '../../assets/styles/colors.scss';

.grid {
  background-image: $gradientColor;
  width: 100vw;
  height: 100vh;
}

.card {
  width: max-content;
  margin: auto;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.card__input {
  width: 90%;
  margin: 10px !important;
}

.card__button {
  margin: 10px !important;
}

.card__message {
  display: block;
  margin: 10px;
}

.card__containerMessage {
  & .card__message {
    &:nth-child(n) {
      margin: 10px 10px 20px;
    }
    &:last-child {
      margin: 25px 10px 10px;
    }
  }
}
